.forma-pago-label {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: rgba(11, 7, 236, 0.288); /* efecto base */
}

.forma-pago-label:hover {
  background-color: rgba(29, 133, 9, 0.2);
  transform: scale(1.05);
}

.forma-pago-label.selected {
  background-color: rgba(0, 100, 0, 0.3); /* verde oscuro translúcido */
  border: 2px solid #006400;
}
