/* assets/css/catalogo_style.css */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #043575, #2c9ce7);
}



.card {
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 200px;
    object-fit: contain;
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1.1rem;
    color: #28a745;
    margin-bottom: 1rem;
}

.btn-success {
    background-color: #28a745;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}



.filters-sticky {
  position: sticky;
  top: 80px;
  z-index: 100;
}

.btn-filter {
  border: none;
  background-color: #e6f4ea;
  color: #28a745;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: left;
}

.btn-filter:hover {
  background-color: #28a745;
  color: white;
  transform: translateX(5px);
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.4);
}

.pagination {
    justify-content: center;
    margin-top: 2rem;
}

.pagination li a,
.pagination li span {
    border-radius: 50px !important;
    margin: 0 4px;
    padding: 8px 16px;
    color: #043575;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    transition: all 0.2s;
}

.pagination li.active span {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}
